# Activer le moteur de réécriture
RewriteEngine On

# https obligatoire
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Rediriger toutes les erreurs vers la page d'accueil
ErrorDocument 404 https://achardcedric.fr/
ErrorDocument 403 https://achardcedric.fr/

# Exception pour les fichiers CSS, JS, images et autres ressources statiques
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Exception pour les URLs avec paramètre send=true ou send=false
RewriteCond %{QUERY_STRING} ^send=(true|false)$
RewriteRule ^$ - [L]

# Rediriger TOUT ce qui n'est pas la racine vers achardcedric.fr
RewriteCond %{REQUEST_URI} !^/$
RewriteRule ^(.*)$ https://achardcedric.fr/ [R=301,L]
