/* STYLE POUR L'IMPRESSION */

@media print {
    .noprint { 
        display: none !important; 
    }

    html { 
        font-size: 11pt; 
    }

    body {
        color: black !important;
        background-color: transparent !important;
    }

    header {
        background-color: #30303018 !important;
    }

    #mailto, #tel {
        color: black !important;
    }

    a {
        color: black !important;
    }

    section h2 {
        color: black !important;
    }

    /* Inverser le logo SVG en noir pour l'impression */
    #logoSvg {
        filter: invert(1) brightness(0);
    }

    .reveal-loaded .reveal [class*="reveal-"] {
        opacity: 1!important;
    }

    .reveal-loaded [class*="reveal-"]{
        animation: none!important;
    }

    .wrapper {
        flex-wrap: wrap;
        justify-content: center;
        min-width: 1000px;
        max-width: 1280px;
        margin: 1em auto;
    }

    header {
        width: 90% !important;
        justify-content: space-evenly;
    }

    #photo_cv {
        width: 15%;
        justify-content: center;
        align-items: center;
    }

    #photo_cv img {
        max-width: 100%;
        max-height: 180px;
    }

    #infos {
        width: 30%;
    }

    #project {
        width: 40%;
    }

    main {
        padding-left: 15%;
    }

    main section {
        width: 100%;
    }

    main section div {
        width: 95%;
        display: flex;
    }

    section h2 {
        width: 70%;
        margin-left: 10%;
    }

    main section div aside {
        width: 20%;
    }

    main section div article {
        width: 100%;
    }

    /* Empêcher la coupure des div à l'intérieur */
    main section div {
        page-break-inside: avoid;
        break-inside: avoid;
    }

    @page {
        margin-top: 2cm;     /* Marge en haut de TOUTES les pages */
        margin-bottom: 2cm;  /* Marge en bas */
        margin-left: 1cm;
        margin-right: 1cm;
    }
}

/* SUPPORT SMARTPHONE */
@media screen and (max-width: 599px) {
    .reveal-loaded .reveal [class*="reveal-"] {
        opacity: 0!important;
        animation: none!important;
        transition: 0s!important;
    }

    .reveal-loaded [class*="reveal-"]{
        animation: revealAnimation 1s cubic-bezier(.5, 0, 0, 1) both;
    }

    .wrapper {
        flex-wrap: wrap;
        justify-content: center;
        min-width: 599px;
        max-width: 599px;
        margin: 1em auto;
    }

    body {
        color: #fff;
        background-color: #131313;
    }

    header {
        justify-content:right;
        background-color: #303030;
    }

    #photo_cv {
        width: 40%;
        justify-content: center;
    }

    #photo_cv img {
        max-width: 100%;
        max-height: 180px;
    }

    #mailto, #tel {
    color : white;
    }

    #infos {
        width: 60%;
    }

    #project {
        width: 80%;
        padding-right: 5%;
    }

    main {
        justify-content: flex-end;
    }

    main section {
        /* a modifier pour le centrage et le retour à la ligne */
        width: 95%;
    }

    main section div {
        width: 95%;
    }

    section h2 {
        width: 70%;
        margin-left: 10%;
    }

    main section div aside {
        width: 20%;
    }

    main section div article {
        width: 80%;
    }

    #sendmail {
        width: 80%;
        margin: 0.5em 10%;
    }

    #submit {
        width: 30%;
    }

}

/* SUPPORT TABLETTE */
@media screen and (min-width: 600px) and (max-width: 999px) {
    .reveal-loaded .reveal [class*="reveal-"] {
        opacity: 0!important;
        animation: none!important;
        transition: 0s!important;
    }

    .reveal-loaded [class*="reveal-"]{
        animation: revealAnimation 1s cubic-bezier(.5, 0, 0, 1) both;
    }

    .wrapper {
        flex-wrap: wrap;
        justify-content: center;
        min-width: 600px;
        max-width: 999px;
        margin: 1em auto;
    }

    body {
        color: #fff;
        background-color: #131313;
    }

    header {
        justify-content:right;
        background-color: #303030;
    }

    #photo_cv {
        width: 40%;
        justify-content: center;
    }

    #photo_cv img {
        max-width: 100%;
        max-height: 180px;
    }

    #mailto, #tel {
    color : white;
    }

    #infos {
        width: 60%;
    }

    #project {
        width: 80%;
        padding-right: 5%;
    }

    main {
        justify-content: flex-end;
    }

    main section {
        /* a modifier pour le centrage et le retour à la ligne */
        width: 95%;
    }

    main section div {
        width: 95%;
    }

    section h2 {
        width: 70%;
        margin-left: 10%;
    }

    main section div aside {
        width: 20%;
    }

    main section div article {
        width: 80%;
    }

    #sendmail {
        width: 60%;
        margin: 0.5em 20%;
    }

    #submit {
        width: 20%;
    }
}

/* SUPPORT DESKTOP */
@media screen and (min-width: 1000px) {
    .reveal-loaded .reveal [class*="reveal-"] {
        opacity: 0!important;
        animation: none!important;
        transition: 0s!important;
    }

    .reveal-loaded [class*="reveal-"]{
        animation: revealAnimation 1s cubic-bezier(.5, 0, 0, 1) both;
    }

    .wrapper {
        flex-wrap: wrap;
        justify-content: center;
        min-width: 1000px;
        max-width: 1280px;
        margin: 1em auto;
    }

    body {
        color: #fff;
        background-color: #131313;
    }

    header {
        justify-content: space-evenly;
        background-color: #303030;
    }

    #photo_cv {
        width: 15%;
        justify-content: center;
    }

    #photo_cv img {
        max-width: 100%;
        max-height: 180px;
    }

    #mailto, #tel {
    color : white;
    }

    #infos {
        width: 30%;
    }

    #project {
        width: 40%;
    }

    main {
        justify-content: flex-end;
    }

    main section {
        /* a modifier pour le centrage et le retour à la ligne */
        width: 85%;
    }

    main section div {
        width: 100%;
    }

    section h2 {
        width: 50%;
        margin-left: 10%;
    }

    main section div aside {
        width: 20%;
    }

    main section div article {
        width: 80%;
    }

    #sendmail {
        width: 40%;
        margin: 0.5em 30%;
    }

    #submit {
        width: 15%;
    }
}

/* CSS COMMUN A TOUS LES SUPPORTS */
.hidden {
    display: none !important;
}

.flex {
    display: flex;
}

html { 
    font-size: 1em; 
}

.fw-bold {
    font-weight: bold;
}

.fs-italic {
    font-style: italic;
}

#backToTop {
    bottom: 1em;
    right: 1em;
}

#backToTop {
    z-index: 99;
    position: fixed;
    font-size: 3em;
}

#backToTop i {
    color: rgba(255, 255, 255, 0.6);
}

#backToTop i:hover {
    color: rgba(255, 255, 255, 1);
}

/* Styles pour le bouton de changement de thème */
#themeToggle {
    bottom: 1em;
    left: 1em;
    z-index: 99;
    position: fixed;
    font-size: 3em;
    cursor: pointer;
}

#themeToggle i {
    color: rgba(255, 255, 255, 0.6);
    transition: color 0.3s ease;
}

#themeToggle i:hover {
    color: rgba(255, 255, 255, 1);
}

/* Thème sombre (par défaut) */
body.theme-dark {
    color: #fff;
    background-color: #131313;
}

body.theme-dark header {
    background-color: #303030;
}

body.theme-dark #mailto,
body.theme-dark #tel {
    color: white;
}

body.theme-dark a {
    color: #fff;
}

body.theme-dark a:hover,
body.theme-dark a:visited,
body.theme-dark a:active {
    color: #fff;
}

body.theme-dark footer {
    background-color: #303030;
}

body.theme-dark #themeToggle i {
    color: rgba(255, 255, 255, 0.6);
}

body.theme-dark #themeToggle i:hover {
    color: rgba(255, 255, 255, 1);
}

/* Thème clair */
body.theme-light {
    color: #000;
    background-color: #ffffff;
}

body.theme-light header {
    background-color: #f0f0f0;
}

body.theme-light #mailto,
body.theme-light #tel {
    color: #000;
}

body.theme-light a {
    color: #000;
}

body.theme-light a:hover {
    color: #000;
}

body.theme-light a:visited {
    color: #000;
}

body.theme-light a:active {
    color: #000;
}

body.theme-light footer {
    background-color: #f0f0f0;
}

body.theme-light section h2 {
    color: #000;
}

body.theme-light #themeToggle i {
    color: rgba(0, 0, 0, 0.6);
}

body.theme-light #themeToggle i:hover {
    color: rgba(0, 0, 0, 1);
}

body.theme-light #backToTop i {
    color: rgba(0, 0, 0, 0.6);
}

body.theme-light #backToTop i:hover {
    color: rgba(0, 0, 0, 1);
}

/* Inverser le logo SVG en thème clair */
body.theme-light #logoSvg {
    filter: invert(1) brightness(0);
}

body {
    font-family: "Lustria", serif;
}

a {
    color: #fff;
}

a:hover {
    color: #fff;
}

a:visited {
    color: #fff;
}

a:active {
    color: #fff;
}

ul {
    margin-block: 0;
    padding-inline-start: 0;
}

li {
    list-style-type: none;
}

header {
    width: 95%;
    flex-wrap: wrap;
    align-content: center;
    border-radius: 15px 50px;
    padding-top : 1em;
    padding-bottom: 1em;
}

#photo_cv img {
    border-radius: 50% 20% / 10% 40%;
}

#infos h2, #infos li:not(:last-child) {
    font-variant: small-caps;
}

#project h2 {
    font-variant: small-caps;
}

main {
    width: 100%;
    flex-wrap: wrap;
    padding-bottom: 2em;
}

section h2 {
    font-variant: small-caps;
    padding-bottom: 0.2em;
    border-bottom: solid;
}

main section {
    flex-wrap: wrap;
}

main section div {
    padding: 1em 0em;
}

#computer div, #extra-professionnal div {
    padding: 0;
}

footer {
    flex-wrap: wrap;
    width: 95%;
    height: 13em;
    justify-content: center;
    align-items: center;
    border-radius: 15px 50px
}

footer div {
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

#cvbymailform {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

#cvbymailform label {
    width: 100%;
    align-items: center;
    text-align: center;
}

#cvbymail i {
    font-size: 1.3em;
}

#cvbymail input {
    height: 2em;
    font-family: "Lustria", serif;
    font-weight: bold;
    border-radius: 4px 10px;
    border-style: none;
}

body.theme-light #cvbymail input {
    color: white;
}

body.theme-dark #cvbymail input {
    color: black;
}

#sendmail, #submit {
    text-align: center;
}

body.theme-dark #sendmail, 
body.theme-dark #submit {
    background-color: white;
    transition: background-color 0.5s ease;
}

body.theme-light #sendmail,
body.theme-light #submit {
    background-color: grey;
    transition: background-color 0.5s ease;
}

body.theme-light #submit:hover,
body.theme-dark #submit:hover {
    background-color: black;
    color: white;
}

body.theme-light #sendmail::placeholder {
    color: rgba(255, 255, 255, 0.658);
}

#sendtrue {
    color: rgb(1, 233, 1);
    font-weight: bold;
}

#sendfalse, #errormail {
    color: rgb(255, 196, 0);
    font-weight: bold;
}

#autor div {
    color: grey;
    display: inline-flex;
}

/* Thème sombre (par défaut) */

ul li i {
    width: 1.5em;
    text-align: center;
}

h2 i {
    width: 1.5em;
}

/* ANIMATIONS OPACITE AU SCROLL */

.reveal-loaded .reveal-2 {
  animation-delay: .1s;
}

.reveal-loaded .reveal-3 {
  animation-delay: .2s;
}

.reveal-loaded .reveal-4 {
  animation-delay: .3s;
}

@media (prefers-reduced-motion: reduce) {
  .reveal-loaded  [class*="reveal-"] {
    animation: none!important;
  }
}

@keyframes revealAnimation {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}